{% extends 'base.html' %}

{% block content %}
    <h2>{{ note.title }}</h2>
    <p>
        {{ note.content }}
    </p>

    <p class="text-muted small">Created on <span class="font-weight-bolder">{{ note.created }}</span> <br> 
        Last edited on <span class="font-weight-bolder">{{ note.updated }}</span></p>

    <a class="btn btn-outline-info" href="{% url 'edit_note' note.id %}">Edit Note</a>
    <a class="btn btn-outline-danger" href="{% url 'delete_note' note.id %}">Delete Note</a>
    <a href="{% url 'home' %}">Back to Home Page</a>
{% endblock %}