{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col-md-8">
            <h1>{{ note.title }}</h1>
            <p class="text-justify">
                {{ note.content }}
            </p>
        
            {% if request.user == note.owner %}
            <p class="text-muted small">Created on <span class="font-weight-bolder">{{ note.created }}</span> <br> 
                Last edited on <span class="font-weight-bolder">{{ note.updated }}</span></p>
        
                <a class="btn btn-outline-success" href="{% url 'share_note' note.id %}">Share Note</a>
                <a class="btn btn-outline-info" href="{% url 'edit_note' note.id %}">Edit Note</a>
                <a class="btn btn-outline-danger" href="{% url 'delete_note' note.id %}">Delete Note</a>
            {% else %}
                <p class="text-muted small">Shared to you by <span class="font-weight-bolder">{{ note.owner.username }}</span>
            {% endif %}
            <hr>
            <a href="{% url 'home' %}">Back to Home Page</a>
        </div>

        {% include '_sidebar.html' %}
        
    </div>
{% endblock %}