{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <h2>Your Notes</h2>
            {% for note in notes %}
                <h4><a href="{{ note.get_absolute_url }}">{{ note.title }}</a></h4>
            {% empty %}
                <h4>You don't have any notes yet.</h4>
                <a href="{% url 'add_note' %}">Click here to create a new note</a>
            {% endfor %}
        </div>
        <div class="col-md-6">
            <h2>Shared with you</h2>
            {% for note in shared_notes %}
                <h4><a href="{{ note.get_absolute_url }}">{{ note.title }}</a></h4>
            {% empty %}
                <h4>No one has shared any notes with you yet :(</h4>
            {% endfor %}
        </div>
    </div>
{% endblock %}